@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem; /* Adjust the size as needed */
  font-weight: bold;
}

/* styles/globals.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.wave-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #f3f4f6; /* Adjust to match your desired background */
  clip-path: ellipse(50% 40% at 0% 50%);
}

.wave-bg-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f3f4f6; /* Adjust to match your desired background */
  clip-path: ellipse(100% 100% at 50% 100%);
}

